@import '~bootstrap/scss/bootstrap';

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #d8cfd0;
  color:#413f3d;
  padding: 10px;
}
